
@media screen and (max-width:767px) {
/*common */



/*header */



/*top-wrapper */

.top-wrapper h1 {
  font-size: 30px;
}

.top-wrapper h2 {
  font-size: 20px;
}


/*profile-wrapper */

.profile-image {
  float: left;
  text-align: center;
}


/*skill-wrapper */

.skill {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}


/*contact-wrapper */




/*footer */







}

