* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*common */
.container {
  width: 100%;
  max-width: 1170px;
  padding: : 0 15px;
  margin: 0 auto;
}

.heading  {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.heading h2 {
  border-bottom: 1px solid black;
}

.clear {
  clear: left;
}

/*header */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(105, 105, 105, 0.8);
  text-align: center;
  position: fixed;
  z-index: 10;
}

.header-text {


}

.header-text a {
  color: black;
  width:30%;
  display: inline-block;
  line-height: 65px;
  text-decoration: none;
  letter-spacing: 5px;
  transition: all 1s;
}

.header-text a:hover {
  background-color: rgba(240, 248, 255, 1);
}

/*top-wrapper */

.top-wrapper {
  background-color: #b0c4de;
  padding: 200px 0 120px 0;
  text-align: center;
}

/*profile-wrapper */

.profile-wrapper {
  background-color: #778899;
  padding-bottom: 50px;
}

.profile-image {
  width: 200px;
  border-radius: 15px;
  float: left;
  margin-left: 150px;
}

.profile-text {
  float: left;
  width: 60%;
  margin-left: 50px;
}

/*skill-wrapper */

.skill-wrapper {
  background-color: #b0c4de;
  padding-bottom: 50px;
}

.skill {
  float: left;
  width:33.3%;
  text-align: center;
}

.skill-icon {
  float: left;
  margin-left: 35px;
  margin-right: 20px;
}

.skill-icon p {
  font-weight: bold;
  font-size: 20px;
}

.skill-text {
  margin: 30px 20px;
  text-align: left;
}

.fa-skill {
  font-size: 100px;
}

/*contact-wrapper */

.contact-wrapper {
  background-color: #778899;
  padding-bottom: 50px;
}

.contact-message {
  text-align: center;
  margin-bottom: 20px;
}

.contact-icon {
  text-align: center;
  float: left;
  width: 100%;
}

.contact-icon a {
  padding: 20px;
  border-radius: 50%;
  color: white;
  background-color: black;
}


.contact-twitter {
  margin-right: 100px;
}

/*footer */
footer {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 20px;


}

footer p {
  color: white;
}
